@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "titles";
@import "search-bar";
@import "documentation";

body {
  font-family: Helvetica, sans-serif;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}